body {
    text-align: center;
}

.line {
    background-color: black;
    margin: 8px auto;
    height: 5px;
    width: 70px;
}

#games {
    background-color: aqua;
    width: 100%;
    height: 800px;
}
img:hover{
    transform: scale(0.9);
}
#chatbot{
    background-color: orange;
}
